.contactInfoCard {
  width: 100%;
  max-width: 531px;
  min-height: 660px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 36px 26px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.10);
  box-sizing: border-box;

}

.contactInfoTitle {
  width: 100%;        
  max-width: 511px;
  min-height: 96px;
  margin: 0 0 20px 0;

  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: #2f4f3b;
}

.contactInfoText {
  margin: 0 0 72px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #5F7F6A;
}

.contactInfoInnerCard {
  width: 100%;      
  max-width: 484px;
  min-height: 250px;
  background: #FAF8F6;
  border-radius: 12px;
  padding: 12px 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin: 0 auto;
}

.contactInfoWhatsBtn {
  width: 100%;      
  max-width: 414px;
  height: 56px;

  margin: 20px auto 24px auto;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 22px;
  box-sizing: border-box;

  background: #498B56;
  color: #fff;
  border: none;
  border-radius: 12px;

  font-size: 20px;
  font-weight: 600;
  cursor: pointer;

  transition: transform 0.25s ease, color 0.25s ease;
}

.contactInfoWhatsBtn:hover {
  filter: brightness(0.95);
  transform: scale(1.06);
}

.contactInfoList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contactInfoList li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 0;
  padding-left: 22px;
  font-size: 20px;
  font-weight: 400;
  color: #6F976D;
  margin-bottom: 1px;
}

@media (max-width: 900px) {
  .contactSection {
    padding: 24px 16px;
  }

  .contactContainer {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .contactInfoCard {
    margin-top: 0;
    width: 100%;
    max-width: 531px;
  }


  .formWrapper,
  form {
    width: 100%;
    max-width: 430px;
  }
}

@media (max-width: 480px) {
  .contactSection {
    padding: 18px 12px;
  }

  .contactInfoCard {
    padding: 22px 16px;
  }

  .contactInfoWhatsBtn{
    font-size: 16px;
  }

  .contactInfoWhatsBtn svg {
    width: 30px;
    height: 30px;
  }

  .contactInfoInnerCard{
    margin-top: -20px;
  }

  .contactInfoTitle{
    font-size: 30px;
    text-align: center;
  }

}