.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    width: 430px;
    height: 670px;
    background: #fff;
    padding: 5px 15px 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: hsl(0, 0%, 20%);
    margin: 25px;
    margin-top: 51px;
}

form h2 {
    width: 356px;
    height: 35px;
    margin-left: 37px;
    margin-bottom: -2px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: var(--text-title);
    
}

form .RadioTitle {
    margin-top: 16px;
    margin-left: 37px;
    margin-bottom: 15px; /* espaço entre o texto e os radios */
    display: flex;
    color: var(--text-title);
}

form .RadioGroup {
    margin-left: 34px;
    margin-bottom: 18px;
    display: flex;
    gap: 11px; /* espaço entre as opções */
    color: var(--text-title)
}

input[type="radio"] {
  accent-color: var(--text-title); /* escolhe a cor que você quiser */
}



form button:hover {
    background: #333;
}

.input-message .field{
    width: 356px;
    height: 50px;
    color: var(--text-title);
    font-weight: 400;
    font-size: 13px;
    
    background: transparent;
    border: 2px solid var(--text-title);
    outline: none;
    border-radius: 6px;
    padding: 5px;
    margin-top: 8px;
    margin-left: 37px;
}

.input-message .field.mess{
    width: 356px;
    height: 50px;
    resize: none;
    text-align: center;
}

.input-message label{
    margin-top: 12px;
    margin-left: 37px;
}

.Text {
    display: block;            
    margin-top: -55px;          
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #7a7a7a;            
    text-align: center;       
    line-height: 1.4;         
}

form button {
    width: 370px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    margin: 37px;
    background: var(--text-title);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 67px;
    transition: .5s;
}