.containner-service{
    max-width: 1120px;
    height: 100%;
    margin-top: 22px;
    margin: 20px auto 75px;
    text-align: center;
    padding: 20px 4%;
}

.title-service {
    color: var(--text-title);
    font-size: 30px;
    font-family: var(--font-family-base);
    font-weight: 600;
}

.subTitle-service{
    color: var(--text-subTitle-service);
    font-size: 20px;
    font-family: var(--font-family-base);
    font-weight: 600;
    margin-top: -10px;
}

.span-text {
    color: var(--text-span-title);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px 120px;
    margin-top: 65px;
    justify-content: center;
    justify-items: center;
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

.delay-1 {
  transition-delay: 0.1s;
}
.delay-2 {
  transition-delay: 0.2s;
}
.delay-3 {
  transition-delay: 0.3s;
}
.delay-4 {
  transition-delay: 0.4s;
}
.delay-5 {
  transition-delay: 0.5s;
}
.delay-6 {
  transition-delay: 0.6s;
}


@media (max-width: 900px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .card-grid {
        grid-template-columns: 1fr;
        align-items: center;
        gap: 80px;
    }

    .containner-service{
        margin-bottom: 40px;
    }
}
