.card{
    min-width: 290px;
    min-height: 220px;
    background-color: var(--bg-card);
    border-radius: 16px;
    color: #FFFFFF;
    padding: 20px 20px;
    box-shadow: 4px 5px 4px rgba(5, 5, 5, 0.5);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover{
  transform: scale(1.06);
}

.card-title {
    font-size: 19px;
    font-weight: 600;
}

.card-list {
    font-size: 15px;
    font-weight: 600;
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
    text-align: left;
}

.card-list li {
    margin-bottom: 5px;
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 500px) {
    .card{
            padding: 10px 10px;
     
    }
}
