.navbar {
  width: 100%;
  height: 94px;
  background-color: var(--bg-page);
}

.navbar-container {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-left: 700px;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  color: var(--text-title);
  font-size: 18px;
  font-family: var(--font-family-base);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.nav-links a:hover {
  color: var(--bg-button-primary);
  transform: scale(1.06);
}

.nav-button {
  background-color: var(--bg-button-contact);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;

  padding: 14px 36px;
  border: 1px solid rgba(5, 5, 5, 0.3);
  border-radius: 999px;

  cursor: pointer;
  transition: all 0.25s ease;

  box-shadow: 
    0 2px 0 rgba(0, 0, 0, 0.15),
    0 6px 12px rgba(0, 0, 0, 0.15);

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.nav-button:hover{
  transform: scale(1.06);
}

.logo img {
  width: 73px;
  height: 75px;
  object-fit: contain;
}
