.input-box .field{
    width: 356px;
    height: 35px;
    color: var(--text-title);
    font-weight: 400;
    font-size: 13px;

    background: transparent;
    border: 2px solid var(--text-title);
    outline: none;
    border-radius: 6px;
    padding: 5px;
    margin-top: 6px;
}

form .input-box {
    height: 35px;
    padding: 16px 37px 42px;
    color: var(--text-title);
    
}