.contactSection {
  padding: 40px;
  background: #faf9f6;
}

.contactContainer {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  gap: 102px;
  align-items: flex-start;
  padding: 1%;
}

.from-left {
  opacity: 0;
  transform: translateX(-60px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.from-right {
  opacity: 0;
  transform: translateX(60px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.from-left.show,
.from-right.show {
  opacity: 1;
  transform: translateX(0);
}


@media (max-width: 900px) {
  .contactSection {
    padding: 24px 16px;
  }

  .contactContainer {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
}

@media (max-width: 470px){
  .contactContainer{
    gap: 0;
  }
}